<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alumne.basedades2">
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ico_kitchen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico_kitchen_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings"></activity>
        <activity android:name=".Info" />
        <activity android:name=".AfegirRecepta">
            <intent-filter>
                <action android:name="com.example.alumne.basedades2.AfegirRecepta" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LlistaReceptes">
            <intent-filter>
                <action android:name="com.example.alumne.basedades2.LlistaReceptes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.alumne.basedades2.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".LlistaIngredients">
            <intent-filter>
                <action android:name="com.example.alumne.basedades2.LlistaIngredients" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AfegirIngredient">
            <intent-filter>
                <action android:name="com.example.alumne.basedades2.AfegirIngredient" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AfegirIngsARec">
            <intent-filter>
                <action android:name="com.example.alumne.basedades2.AfegirIngsARec" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuCompra" />
    </application>

</manifest>